<div class="mdc-layout-grid__cell--span-12 kmdc-search">
    <button class="mdc-fab mdc-theme--primary-bg mdc-theme--text-primary-on-primary material-icons">
        <span class="mdc-fab__icon">
            search
        </span>
        <div class="kmdc-search-content">
            <div class="mdc-text-field">
                <i class="material-icons mdc-text-field__icon" tabindex="0">search</i>
                <input type="search" id="search-box" class="mdc-text-field__input">
                <label class="mdc-text-field__label" for="search-box"></label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
    </button>
    <div id="hits">
        <!-- Hits widget will appear here -->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        main.initSearch()
    })
</script>