<script src="https://cdn.bootcss.com/barba.js/1.0.0/barba.min.js"></script>
<script>
    var Blogpost = Barba.BaseView.extend({
        namespace: 'post',
        onEnterCompleted: function (){
            window.scrollTo(0,0);
        }
    })
    Blogpost.init();
    Barba.Pjax.init();
    Barba.Prefetch.init();
    Barba.Dispatcher.on('transitionCompleted', function (a,b) {
        window.mdc.autoInit();
        main.installMenu('#kmdc-menu','#kmdc-menu-button');
        main.addBlank();
        main.tocBot();
        main.initSearch();
    });
    Barba.Dispatcher.on('newPageReady', function (a,b,c,d) {
        c.classList.add("move");
    });
    var FadeTransition = Barba.BaseTransition.extend({
        start: function () {
            Promise
                .all([this.newContainerLoading, this.fadeOut()])
                .then(this.fadeIn.bind(this));
        },

        fadeOut: function () {
            var el = this.oldContainer;
            el.classList.add("move");
            NProgress.start();
            return new Promise(function(resolve, reject) {
                    setTimeout(resolve, 500, 'foo');
            });
        },

        fadeIn: function () {
            this.done();
            NProgress.done();
            var el = this.newContainer;
            el.classList.remove("move");
        }
    });

    Barba.Pjax.getTransition = function () {
        return FadeTransition;
    };
</script>