body{
    margin: 0;
    background-color: #eee;
}
main{
    padding-top: 0px;
    transition: all 500ms;
    @media (max-width: 839px) and (min-width: 480px){
        padding-top: 80px;
    }
    @media (min-width: 840px){
        padding-top: 180px;
    }

}
@media (max-width: 479px){
    .kmdc-max-width {
        padding: 0;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}