.kmdc-max-width{
    max-width: 900px;
}

.kmdc-search{
    margin-top: 10px;
    @media (min-width: 840px){
        margin-top: 0;
    }
    z-index: 1;
    transition:margin-bottom 0.25s cubic-bezier(.4, 0, .2, 1);
    .mdc-fab:not(.mdc-ripple-upgraded):focus:before{
        opacity: 0;
    }
    button{
        position: absolute;
        right: 25px;
        transition:
        width .25s cubic-bezier(.4, 0, .2, 1),
        border-radius .6s cubic-bezier(.4, 0, .2, 1),
        right .15s cubic-bezier(.4, 0, .2, 1);

    }
    &.box{
        margin-bottom: 66px;
        button{
            width: 100%;
            border-radius: 5px;
            right: 0;
            top: 10px;
            .mdc-fab__icon{
                display: none;
            }
            .kmdc-search-content{
                display: block;
            }
        }
       
    }
    .kmdc-search-content{

        display: none;
        margin: 0 15px;
        .mdc-text-field{
            color: var(--mdc-theme--text-primary-on-primary,#fff);
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            align-items: center;
            input{
                color: inherit;
                border: none;
                padding: 0 8px;
                background: rgba(0,0,0,.5);
                border-radius: 15px;
                &:focus{
                    background: rgba(0,0,0,.5);
                    border-radius: 15px;
                }
            }
            i{
                color: inherit;
                margin-right: 15px;
            }
        }
        // input{
        //     margin-left: 5px;
        // }
        // i{
        //     line-height: 38px;
        // }
    }
}

.kmdc-blog__posts{
    position: relative;
}

.kmdc-card{
    .kmdc-card__media{
        background-position: 50% 50%;
        height: 250px;
        &.kmdc-card__media-head__small{
            display: flex;
            align-items: center;
            :first-child{
                margin: auto;
                width: 64px;
            }
        }
    }
    .kmdc-card__media-content--title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        .kmdc-card__media-title {
            padding: 8px 16px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.3)));
            background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
            color: white;
        }
        .kmdc-card__media-only-title{
            padding: 16px;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            &:before,&:after{
                font-family: "Roboto","Helvetica","Arial",sans-serif;
                display: block;
                font-size: 3em;
                margin-top: 0.5em;
            }
            &:before{
                content: '\201c';
            }
            &:after{
                content: '\201d';
            }
            p{
                margin: 0;
                display: block;
            }
        }
    }
    .kmdc-card__posts-content{
        color: rgba(0, 0, 0, 0.8);
        padding: 1rem;
        p code{
            background-color: #f8f8f8;
            font-family: 'Roboto Mono',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
            padding: 2px 6px;
            font-weight: bold;
        }
        kbd{
            padding: 2px 6px;
            font-size: 90%;
            color: #fff;
            background-color: #333;
            border-radius: 2px;
            font-family: "Roboto Mono", monospace;
        }
        table:not(.rouge-table){
            overflow: overlay;
            display: block;
            margin: 0 0 1.2em 0;
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.12);
            border-top: none;
            th{
                width: 100%;
                overflow: hidden;
                font-size: 13px;
                font-weight: 700;
                line-height: 32px;
                color: rgba(0,0,0,.54);
                text-overflow: ellipsis;
                white-space: nowrap;
                &:first-child{
                    padding-right: 0;
                    padding-left: 24px;
                }
            }
            td,th{
                position: relative;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 12px 28px;
                text-align: left;
                vertical-align: middle;
                border-top: 1px solid rgba(0,0,0,.12);
            }
        }
    }
    .kmdc-card__secondary{
        *{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        color: rgba(0, 0, 0, 0.54);
        color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
        padding: 1rem;
    }
    .kmdc-card__meta{
        display: flex;
        padding: 1rem;
        align-items: center;
        .kmdc-card__meta-avatar{
            width: 44px;
            height: 44px;
            margin-right: 16px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 22px;
            background-color: #F5F5F5;
        }
        .kmdc-card__meta-text{
            display: flex;
            flex-direction: column;
            :last-child:not(span){
                line-height: 44px;
            }
        }
    }
}
.kmdc-tocbot{
    @media (max-width:839px){
        display: none;
    }
    .toc{
        font-family: Roboto,sans-serif;
        margin-top: 326px;
        overflow-y: auto;
        &>.toc-list{
            overflow: hidden;
            position: relative;
            li{
                list-style: none;
            }
        }
    }
    .toc-list{
        margin: 0;
        padding-left: 10px;
    }
    a{
        &.toc-link{
            color: currentColor;
            height: 100%;
            font-size: 14px;
            letter-spacing: .04em;
            text-transform: uppercase;
            text-decoration:none;
            line-height: 25px;
        }
    }
    .is-collapsible {
        max-height: 1000px;
        overflow: hidden;
        transition: all 300ms ease-in-out
    }
    .is-collapsed {
        max-height: 0
    }
    .is-position-fixed {
        position: fixed !important;
        top: 0;
        margin-top: 100px;
    }
    .is-active-link {
        font-weight: 700
    }
}
.toc-link::before{
    background-color: var(--mdc-theme-secondary-light,#fff);
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
}
.is-active-link::before{
    background-color: var(--mdc-theme-secondary-dark,#000);
}

.mdc-list-item{
    a{
        text-decoration: none;
        color: inherit;
    }
}

.kmdc-paginator{
    .kmdc-paginator__text{
        text-align: center;
    }
    .kmdc-paginator__button-right{
        text-align: right;
    }
}

.highlight{
    overflow: auto;
    *{
        font-family: 'Roboto Mono',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    }
    pre.highlight{
        padding: 24px 0 24px 24px;
        margin: 0;
    }
}
figure.highlight{
    margin: 0;
    pre:not(.highlight){
        padding: 24px 0 24px 24px;
        margin: 0;
    }
    .rouge-table{
        pre{
            padding: 0;
        }
    }
}
.hide{
    display: none;
}
.kmdc-footer{
    height: 155px;
    background-color: var(--mdc-theme-background,#fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    ul{
        padding: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -ms-flex-align: center;
        list-style-type: none;
        li{
            margin-left: .5em;
            margin-right: .5em;
        }
        a{
            text-decoration: none;
            color: #757575 !important;
            margin: 0 8px;
            font-weight: 400;
            font-size: 12px;        
        }
    }
}
.kmdc-progress{
    position: fixed;
    top: -1px;
    width: 100%;
    display: none;
    z-index: 1;
    transition: all 500ms;
}

.barba-container{
    -webkit-transform: none;
    -webkit-transition: -webkit-all 500ms;
    transform: none;
    transition: all 500ms;
    &.move{
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px);
        opacity: 0;
    }
}